.customersList {
    .header {
      background-color: #f0f0f0;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      h1 {
        font-size: 2rem;
        color: #333;
      }
    
    }
    
 
   
  }
  