.CustomerDetails {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  direction: rtl;
  text-align: right;
  
  .form-group {
    text-align: right;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }
}
